@model Application.Models.ReturnModel

@{
    ViewBag.Title = "WsClock";
}

<section class="gerenciador">
    <img src="~/Imgs/hill1.png" id="hill1" />
    <img src="~/Imgs/hill2.png" id="hill2" />
    <img src="~/Imgs/hill3.png" id="hill3" />
    <img src="~/Imgs/hill4.png" id="hill4" />
    <img src="~/Imgs/hill5.png" id="hill5" />

    <img src="~/Imgs/tree.png" id="tree" />
    <img src="~/Imgs/leaf.png" id="leaf" />
    <img src="~/Imgs/plant.png" id="plant" />
    <h2 id="text" class="textDinamic"></h2>

    <section class="content-wsclock" id="content-wsclock" style="align-content:center">
        <h1 class="content-simulation">Simulação - Aging</h1>

        <div class="itemFrame" style=" display:flex; justify-content:space-between">

            <div style="margin-left: 230px; background-image: url(../Imgs/item-frame.png); width: 50px; height: 50px; z-index: 25; background-size: cover; display:flex; align-items:center; justify-content:center">
                <h2 style="margin-top:200px; margin-left: 60px" id="h1">Página suscetível a troca</h2>
                @if (Model.LRU == null)
                {
                    <h2 id="p1">-1</h2>
                }
                else
                {
                    <h2 id="p1">@Model.LRU</h2>
                }

            </div>

            <div style="margin-right: 230px; background-image: url(../Imgs/item-frame.png); width: 50px; height: 50px; z-index: 25; background-size: cover; display: flex; align-items: center; justify-content: center">
                <h2 style="margin-top:200px; margin-right: 60px"  id="h2">Última página acessada</h2>
                @if (Model.PageSusceptible == null)
                {
                    <h2 id="p2">-1</h2>
                }
                else
                {
                    <h2 id="p2">@Model.PageSusceptible</h2>
                    <input id="PageSusceptible" type="hidden" value="@Model.PageSusceptible"/>
                }
            </div>
        </div>

        <button style="margin-left:550px" type="button" class="btn btn-danger btnInsertAging">Inserir Pagina</button>

        @{
            Application.Entity.Page aux = new Application.Entity.Page();

            aux = Model.List._start;
            int i = 0;

            <div class="Items" id="Items">

                @while (aux != null)
                {
                    <div class="Item">
                        @switch (aux.Type)
                        {
                            case Application.Enums.ImgType.ArvoreSeca:
                                <input type="image" src="~/Imgs/ar1.png">
                                break;

                            case Application.Enums.ImgType.ArvoreComFolhas:
                                <input type="image" src="~/Imgs/ar2.png">
                                break;

                            case Application.Enums.ImgType.ArvoreComUmFruto:
                                <input type="image" src="~/Imgs/ar3.png">
                                break;

                            case Application.Enums.ImgType.ArvoreFrutifera:
                                <input type="image" src="~/Imgs/ar4.png">
                                break;
                        }
                        <a class="btn btn-primary btn-lg btnPageAging" data-index="@i">@i</a>
                    </div>

                    i++;
                    aux = aux.Proximo;
                }

            </div>
        }
    </section>

</section>